body {
    background-color: #474b4f;
    /* background-image: linear-gradient(to right, #8E8D8A(255,0,0,0), #D8C3A5(255,0,0,1)); */
}

.jumbotron {
    background-color: #222629;
     color: whitesmoke;
}

button {
    margin-right: 20px;
    margin-bottom: 30px;
    
}

.card-header {
    background-color: #474b4f;
    border: 1px solid #6b6e70;

}

.card-body {
    border: 1px solid #6b6e70;
  
}

.btn, hr {
    background-color: #86c232;
}

.container >a {
    color: whitesmoke;
}